/* Type Selectors */

header {
  text-align: center;
  margin: 2em;
}

body {
  background-color: black;
}

h1, h2, h3 {
  color: white;
}

/* Class Selctors */

.myphotos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.topTitle {
  margin-bottom: .5em;
}

.byState, .byYear {
  display: block;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
}

/* ID Selectors */

#arrangeText {
  margin-bottom: .5em;
}

/* Media Quereies */

@media (min-width: 576px) {
  .byState, .byYear {
    display: inline;
  }
}
